* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  font-size: 62, 5%;
  font-family: DM Serif Display, serif;
}

body {
  background-color: #c6b8d9;
  height: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
}

p {
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}

.nav {
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 10px 0 10px 0;
  gap: 10px;
  padding: 0 10px 0 0;
}

.headline {
  display: flex;
  justify-content: center;
}

.headline-first {
  font-size: 2.5rem;
  padding: 10px 0 10px 0;
}

.wavinghand {
  width: 2rem;
  margin: 10px 0 10px 10px;
}

.textintroduction {
  margin-top: 30px;
}

.introduction {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.headline-second {
  font-size: 1.8rem;
  display: flex;
  width: 100%;
  padding: 50px 0 25px 0;
}

.mysocials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  background-color: white;
  width: 300px;
  height: 170px;
  margin: 10px 20px 10px 20px;
  text-align: left;
  padding: 10px 15px 10px 15px;
  border: solid 2px black;
  border-radius: 15px;
  display: flex;
}

.followme {
  display: flex;
  text-align: left;
}

.uil {
  font-size: 4rem;
  color: black;
}

.svgarrow {
  transition: box-shadow 0.1s;
}

.svgarrow:hover {
  cursor: pointer;
  background-color: #6814d3;
  box-shadow: 0 0 5px 0 black, 0 0 10px 0 white;
}

.arrow {
  display: flex;
  align-items: flex-end;
  width: 8rem;
}

.contact {
  font-family: DM Serif Display, serif;
  font-size: 1rem;
  width: 100%;
  justify-content: center;
}

address {
  font-style: normal;
  width: 100%;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.hitup {
  font-size: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

button {
  font-family: DM Serif Display, serif;
  font-size: 0.9rem;
  margin: 20px;
  padding: 6px;
  transition: box-shadow 1s;
  border: solid 0.5px black;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
  background-color: #6814d3;
  box-shadow: 0 0 5px 0 white, 0 0 10px 0 white;
}

svg {
  max-width: 100%;
  height: auto;
}
